<div style="text-align: center; font-family: Montserrat; padding: 0 2vw;">
    <h1 style="font-weight: 900; font-size: 12vw;">Outdoorist</h1>
    <a href="https://apps.apple.com/app/id1489423707" style="margin: 0%;">
        <img src="../../assets/app-store-badge.svg" width="88%">
    </a>
<!-- TODO: Need to build android app first before commenting back in
    <a href="" style="width: 96vw;">
        <img src="../../assets/google-play-badge.png" width="100%">
    </a> -->

    <h1> Stay in Touch </h1>
    <div style="width: 100%; float: left">
        <a href="https://www.instagram.com/outdooristapp/" style="width: 34%; float: left;">
            <i class="fa fa-instagram" style="line-height: 80px; font-size: 80px; color: #c13584;"></i>
        </a>
        <a href="https://www.facebook.com/outdooristapp/" style="width: 33%; float: left;">
            <i class="fa fa-facebook" style="line-height: 80px; font-size: 80px; color: #3b5998;"></i>
        </a>
        <a href="https://twitter.com/outdooristapp" style="width: 33%; float: left;">
            <i class="fa fa-twitter" style="line-height: 80px; font-size: 80px; color: #1DA1F2;"></i>
        </a>
    </div>
</div>